<app-navbar></app-navbar>

<div *ngIf="locationFlag" class="container">
    <highcharts-chart 
        [Highcharts]="HighchartsLocations"
        [options]="chartOptionsLocations"
        style="height: 400px; display: block;"
    ></highcharts-chart>
</div>

<div *ngIf="skillFlag" class="container">
    <highcharts-chart 
        [Highcharts]="HighchartsSkills"
        [options]="chartOptionsSkills"
        style="height: 400px; display: block;"
    ></highcharts-chart>
</div>

<div *ngIf="quarterFlag" class="container">
    <highcharts-chart 
        [Highcharts]="HighchartsQuarters"
        [options]="chartOptionsQuarters"
        style="height: 400px; display: block;"
    ></highcharts-chart>
</div>

<h1 *ngIf="locationFlag && skillFlag && quarterFlag">Trends Working</h1>