<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Accolite India</span>
    </div>
</nav>
<div class="card text-center">
    <h6 class="card-hedaer">Opportunity Management Login</h6>
    <div class="card-body">
        <h4 class="card-title">Not Signed in</h4>
        <p class="card-text">Sign in with</p>
    </div>
    <div class="card-body">
        <button class="btn-primary" (click) = "signIn()">Sign In</button>
    </div>
</div>